@model IEnumerable<SmartLMS.Models.Question>

@{
    ViewBag.Title = "Take Quiz";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_QuestionPartial", item)
    }
    
</div>
