
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            Total Number of Users: @ViewData["user"]
        </div>
        <div class="col-md-4">
            Total Number of Courses: @ViewData["course"]
        </div>
        <div class="col-md-4">
            Total Number of Lectures: @ViewData["Lecture"]
        </div>
    </div>
</div>
<div class="row">

</div>
<div class="row">

</div>

