@using SmartLMS.Models

@if (User.IsInRole(UserRoles.User.ToString()))
{
    <li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { })</li>
    <li>@Html.ActionLink("Dashboard", "Index", "StudentDashboard", new { Area = "" }, new { })</li>
    <li>@Html.ActionLink("My Courses", "Courses", "StudentDashboard", new { Area = "" }, new { })</li>
    <li>@Html.ActionLink("Courses", "Course", "Home", new { Area = "" }, new { })</li>
}