
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title</h2>
        <hr />

        <address>
            arifali.mondal@gmail.com
        </address>
    </div>
</div>

