<div class="jumbotron">
    <h1>Smart LMS</h1>
    <p class="lead">Smart LMS is a free web based LMS framework for building great online courses.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Take the best online courses.</p>
        <p>@Html.ActionLink("Courses", "Course", "Home", new { Area = "" }, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Course</h2>
        <p>Instructor can manage courses.</p>
    </div>
    <div class="col-md-4">
        <h2>Take Course</h2>
        <p>You can easily find and register a course. Thats all. Knowledge is Power.</p>
    </div>
</div>
